@model DekkersAuto.Web.Models.Inventory.FilterViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
<div class="card">
    <div class="card-header" data-toggle="collapse" href="#filterBody" aria-expanded="false" aria-controls="filterBody" style="cursor:pointer">
        <h5>
            Filter
        </h5>

    </div>
    <div class="collapse" id="filterBody">
        <div class="card-body">
            <form asp-action="Filter" asp-controller="Inventory" data-ajax="true" data-ajax-method="POST" data-ajax-update="#inventoryList" data-ajax-mode="replace">
                <div class="row">

                    <div class="col-lg-6">
                        <div class="form-group form-inline">
                            <label asp-for="Make" class="control-label col-2"></label>
                            <input asp-for="Make" class="form-control col-4" />
                        </div>
                        <div class="form-group form-inline">
                            <label asp-for="Model" class="control-label col-2"></label>
                            <input asp-for="Model" class="form-control col-4" />
                        </div>
                        <div class="form-group">
                            <label class="control-label col-6">@Locale.Kilometers</label>
                            <br />
                            <div class="form-inline">
                                <label asp-for="KilometersFrom" class="control-label col-2"></label>
                                <input asp-for="KilometersFrom" class="form-control col-4" />
                            </div>
                            <br />
                            <div class="form-inline">
                                <label asp-for="KilometersTo" class="control-label col-2"></label>
                                <input asp-for="KilometersTo" class="form-control col-4" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group form-inline">
                            <label asp-for="Colour" class="control-label col-2"></label>
                            <input asp-for="Colour" class="form-control col-4" />
                        </div>
                        <div class="form-group">
                            <label class="control-label col-6">@Locale.Year</label>
                            <br />
                            <div class="form-inline">
                                <label asp-for="YearFrom" class="control-label col-2"></label>
                                <input asp-for="YearFrom" class="form-control col-4" />
                            </div>
                            <br />
                            <div class="form-inline">
                                <label asp-for="YearTo" class="control-label col-2"></label>
                                <input asp-for="YearTo" class="form-control col-4" />
                            </div>
                        </div>
                    </div>
                </div>
                <input type="submit" value="Filter" class="btn btn-primary" />
            </form>
        </div>
    </div>
</div>