@model IEnumerable<DekkersAuto.Web.Models.Inventory.OptionModel>

<div class="btn-group-toggle text-center" data-toggle="buttons">
    @foreach (var option in Model)
    {
        <label class="btn btn-outline-info clickable-preferred-code">
            <input type="checkbox" name="SelectedOptions" value=@option.Id>@option.Description
        </label>
    }
</div>