@model DekkersAuto.Web.Models.Inventory.InventoryViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="row">
        <div class="col-12">
            <a asp-action="Create" asp-controller="Inventory" class="btn btn-primary col-12">Add Listing</a>
        </div>
    </div>
    <br />
}
<partial name="_FilterPartial" model="Model.Filter" />
<br />
<div id="inventoryList">
    <partial name="_InventoryListPartial" model="Model.InventoryList" />
</div>