@model DekkersAuto.Web.Models.Inventory.InventoryViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Inventory</h1>

<partial name="_FilterPartial" model="Model.Filter" />

<div id="inventoryList">
    <partial name="_InventoryListPartial" model="Model.InventoryList" />
</div>