@model DekkersAuto.Web.Models.BannerViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <partial name="_BannerAlert" model="Model" />
    <img src="~/images/Dekkers.PNG" class="img-fluid d-none d-sm-block" alt="Image of Dekkers Auto" />
    <br />
    <a asp-action="Index" asp-controller="Inventory" class="btn btn-primary mx-auto">View Inventory</a>
</div>