@model IEnumerable<DekkersAuto.Services.Models.ListingListItemModel>

@if (Model != null && Model.Count() > 0)
{
    foreach (var item in Model)
    {
        <partial name="_InventoryItemPartial" model="item" />
    }
}
else
{
    <h2>@Locale.NoInventoryMessage</h2>
}

