@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @User.Identity.Name
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" asp-controller="Account" asp-action="Index">Account</a>
                <a class="dropdown-item"  asp-controller="Account" asp-action="AccountList">Manage Accounts</a>
                <a class="dropdown-item"  asp-controller="Account" asp-action="Banner">Manage Banner</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item"  asp-controller="Account" asp-action="Logout">Logout</a>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }
</ul>