@model DekkersAuto.Web.Models.Account.AccountItemViewModel


<tr id="@Model.AccountId">
    <td>
        @Model.Username
    </td>
    <td>
        @Model.Role
    </td>
    <td>
        <a asp-action="Edit" asp-controller="Account" asp-all-route-data='new Dictionary<string, string> { { "userId",Model.AccountId} }' class="btn btn-primary">Edit</a>
        <a asp-action="Delete" asp-controller="Account" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#@Model.AccountId" asp-all-route-data='new Dictionary<string, string> { { "userId",Model.AccountId} }' class="btn btn-danger">Delete</a>
    </td>
</tr>