@model string

<a asp-action="UpdatePassword" asp-controller="Account" asp-all-route-data='new Dictionary<string, string> { { "userId", Model } }' data-ajax="true" data-ajax-mode="replace" data-ajax-update="#updatePassword">
    Update Password
</a>