@model DekkersAuto.Web.Models.Account.AccountListViewModel

<div class="card">
    <h5 class="card-header">Manage Accounts <a asp-action="Create" asp-controller="Account" class="btn btn-primary float-right">Create</a></h5>
    <div class="card-body">

        @if (Model.Accounts.Any()) { 
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Role</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var account in Model.Accounts)
                {
                    <partial name="_AccountItem" model="account" />
                }
            </tbody>
        </table>
        } 
</div>
</div>
