@model DekkersAuto.Web.Models.BannerViewModel

<div class="card">
    <h5 class="card-header">Banner</h5>
    <div class="card-body">
        <form asp-action="ManageBanner" asp-controller="Account" data-ajax="true" data-ajax-mode="replace" data-ajax-target="#manageBanner">
            <input asp-for="BannerId" hidden />
            <div class="form-check">
                <input class="form-check-input"asp-for="IsActive">
                <label class="form-check-label">
                    Active
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <textarea asp-for="Text" class="form-control"></textarea>
            </div>

            <input type="submit" class="btn btn-primary" value="Update" />

        </form>
    </div>
</div>