
@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="md-4">
        <form asp-action="ForgotPassword" , asp-controller="Account" method="post">
            <div class="form-group">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <label for="Username" class="control-label">Enter UserName or Email</label>
                <input type="text" name="userName" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Send Reset" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>