@model DekkersAuto.Web.Models.Account.AccountViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<div class="card">
    <h5 class="card-header">Manage Account</h5>
    <div class="card-body">
        <partial name="Edit" model="Model.ManageAccountModel" />
    </div>
</div>
<br />
<partial name="_ManageBanner" model="Model.BannerModel" />

@if (User.IsInRole("Admin"))
{
    <br />
    <partial name="_AccountListView" model="Model.AccountList" />
}