@model DekkersAuto.Web.Models.Account.ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Reset Password @if (Model.IsValid) { @Model.UserName}</h1>

<div class="row">
    <div class="md-4">

        @if (Model.IsValid)
        {
            <form asp-action="ResetPassword" , asp-controller="Account" method="post">
                <input asp-for="ResetId" hidden />
                <input asp-for="UserName" hidden />
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Set Password" class="btn btn-primary" />
                </div>
            </form>
        }
        else
        {
            <p>Reset link is no longer valid</p>
        }
    </div>
</div>